<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <form action="/register" method="post">
      <label for="judulDrama">Judul Drama</label>
      <br />

      <input type="text" name="judulDrama" placeholder="Masukkan Judul Drama" />
      <br />

      <label for="Genre">Genre</label>
      <br />

      <input type="text" name="genre" placeholder="Masukkan Genre Drama" />
      <br />

      <label for="rated"> Rated </label>
      <br />

      <input type="text" name="rated" placeholder="Masukkan Rated Drama" />
      <br />

      <label for="episode">Jumlah Episode</label>
      <br />

      <input type="text" name="episode" placeholder="Masukkan Jumlah Episode Drama" />
      <br />

      <label for="mainCast1">Main Cast 1</label>
      <br />

      <input type="text" name="mainCast1" placeholder="Masukkan Pemeran Utama Drama" />
      <br />

      <label for="mainCast2">Main Cast 2</label>
      <br />

      <input type="text" name="mainCast2" placeholder="Masukkan Pemeran Utama Drama" />
      <br />



    

      <button type="submit">Masukkan</button>
    </form>
  </body>
</html>
